<nav class="navbar navbar-dark bg-dark p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 flex-wrap
    mb-lg-0 flex-md-nowrap justify-content-between">
        <a href="/dashboard" class="navbar-brand">Home</a>
    </div>
    <div class="col-12 col-md-5 col-lg-8 align-items-center justify-content-md-end mt-3 mt-md-8 d-flex">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Witaj, {{ fname }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="p-1">
                    <a href="/dashboard" class="dropdown-item">
                        <i class="bi bi-speedometer"></i>  Dashboard
                    </a>
                </li>
                <li class="p-1">
                    <a href="/addCategory" class="dropdown-item">
                        <i class="bi bi-arrow-right-circle-fill"></i>  Dodaj kategorię
                    </a>
                </li>
                <li class="p-1">
                    <a href="#" class="dropdown-item">
                        <i class="bi bi-activity"></i>  Dodaj dział
                    </a>
                </li>
                <li class="p-1">
                    <a href="#" class="dropdown-item">
                        <i class="bi bi-arrow-through-heart"></i>  Dodaj temat
                    </a>
                </li>
                <li class="p-1">
                    <a href="#" class="dropdown-item">
                        <i class="bi bi-piggy-bank"></i>  Dodaj zawartość
                    </a>
                </li>
                <li class="p-1">
                    <a href="#" class="dropdown-item">
                        <i class="bi bi-balloon"></i>  Dodaj algorytm
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="p-1">
                    <a href="/logOut" class="dropdown-item">
                        Wyloguj
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>